
body {
  background: #fff;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  color: #585858;
}

.navBar{
  list-style-type: none;
  margin-top: 0.5%;
  padding: 0;
  overflow: hidden;
  display: flex;
  justify-content: center;
  border-top: inset 1px #585858;
  border-bottom: solid 1px #585858;
}

.navBar li a{
  display: block;
  color: #585858;
  text-align: center;
  padding: 16px;
  text-decoration: none;
  border-top: solid 1px transparent;
}

.navBar li a:hover {
  color: #000;
}

.mainBody{
 margin: 5%;
}

.readingColumn p{
  margin-bottom: 5%;
  text-align: justify;
}

.assignment_list{
  list-style: none;
  padding: 0;
}

.assignment_list a{
  text-decoration: none;
  color: #585858;
  font-size: 1.5em;
  line-height: 1.5em;
}

.assignment_list a:hover{
  text-decoration: none;
  color: #000;
}

@media (min-width: 600px) {
  body {
    line-height: 1.5rem;
  }

  .navBar li{
    float: left;
    padding: 0% 5%;
  }
  
  .navBar li a:hover {
    border-top: solid 1px #000;
  }

  .mainBody{
    margin: auto;
    width: 40%;
  }

  .readingColumn{
    overflow: auto;
    height: 800px;
    scrollbar-color: #585858 RGBA(0,0,0,0.2);
    scrollbar-width: thin;
  }

  .readingColumn p{
    margin-right: 1rem;
    text-align: justify;
  }
  
 .imageCol{
  margin: auto;
  width: 50%;
 }
}
